

body{
    /* margin: 10px; */
    /* padding: 50px; */
    background: radial-gradient(pink);
}

.heading {

    text-align: center;
    align-items: center;
    font-size: 45px;
    color: blue;
    /* background-color: blanchedalmond; */
  
}



.image{
    height: 270px;
    width: 270px;
    display: block;
    /* margin-left: auto; */
    border: 5px solid rgb(0, 208, 255);
    background: white;
    border-radius: 35px;
}

.image:hover {
        box-shadow: 0 05px 10px 5px rgba(255, 255, 255, 1) ;
        transform: scale(1.05);


}

.table {
    margin: 0 auto;
        display: flex;
      justify-content: center;
    text-align: center;
}

.font
{
    font-size: 20px;
}


.box{
     box-shadow: 0 05px 10px 5px rgba(255, 255, 255, 1) ;
        transform: scale(1.05);
        background-color: white;
        max-width: 1000px;
        max-height: 1000px;
}

.admin_details_heading
{
   margin: 60px 0;
   font-size: 30px;
}

.admin_details{
    font-size: larger;
}


.lists
{
    list-style: none;
    direction: flex;
    gap: 20px;
    display: flex;
    flex-direction: row;
}

.lists li{
    background-color: bisque;
    color: rebeccapurple;
    padding: 10px 12px 10px 40px;
    box-shadow: 0 05px 10px 10px rgba(0, 0, 0, 0.5) ; ;
    position: relative;
    border-radius: 15px;
    display: flex;
    gap: 10px;
    margin-bottom: 5px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;


}