body{
    margin: 10px;
    padding: 50px;
    background: radial-gradient(pink);
}

.heading {

    text-align: center;
    align-items: center;
    font-size: 45px;
    color: red;
    /* background-color: blanchedalmond; */
  
}



.image{

    display: block;
    margin-left: auto;
    border: 5px solid rgb(0, 208, 255);
    
    border-radius: 35px;
 
}
.image:hover
{
        box-shadow: 0 05px 20px 10px rgba(255, 255, 255, 1) ;
        transform: scale(1.05);

}
.table {
    /* margin: 0 auto; */
        display: flex;
      justify-content: center;
    text-align: center;
}

.new{
   
background: radial-gradient( pink, white);
max-width: 900px;
max-height: 700px;
margin: auto;
padding: 30px;
border-radius: 37px;
/* border: 5px solid red; */

}


.new:hover{
    /* border: 5px solid red; */
    background: radial-gradient( pink, white);
    transform: scale(1.02);
    box-shadow: 0px 20px 95px  rgb(255,255,255);
    overscroll-behaviour-x: 0px 12px 36px rgb(84, 233, 235) ;

    
}

